<nav class="page-wrapper" ng-controller="PlacesController as ctrl">
    <form id="places-form">
        <div class="form-block">
            <div class="form-input">
                <input type="text" placeholder="Название"
                       ng-model="ctrl.model.name"
                       watch-error/>
            </div>
            <div id="city-block" class="form-input">
                <div id="city-editor">
                    <input type="text" placeholder="Город"
                           city-load
                           ng-model="ctrl.model.city"
                           ng-disabled="ctrl.cityEditorDisabled"
                           watch-error/>
                </div>
                <span id="city-edit-switcher"
                      ng-class="ctrl.cityEditorDisabled ? 'active' : 'inactive'"
                      ng-click="ctrl.cityEditorDisabled = false">Изменить</span>
            </div>
            <div class="form-input">
                <input type="text" placeholder="Адрес"
                       ng-model="ctrl.model.address"
                       watch-error/>
            </div>
            <div class="form-input">
                <a class="button tiny" ng-click="ctrl.search()">Найти</a>
            </div>
        </div>
        <div class="form-block" ng-if="ctrl.showSearchResults">
            <div id="address-suggestion-block">
                <div id="suggested-address">
                    <span ng-bind="ctrl.model.suggestedAddress"></span>
                </div>
                <hr/>
                <div id="lat-long">
                    <div>
                        <span>широта:&nbsp;</span>
                        <span ng-bind="ctrl.model.latitude"></span>
                    </div>
                    <div>
                        <span>долгота:&nbsp;</span>
                        <span ng-bind="ctrl.model.longitude"></span>
                    </div>
                </div>
            </div>
            <div class="form-input">
                <a class="button tiny green" ng-click="ctrl.add()">Добавить</a>
            </div>
        </div>
        <div class="form-block error-block" ng-if="ctrl.error.length > 0">
            <span ng-bind="ctrl.error"></span>
        </div>
    </form>
    <div id="places-list-box">
        <div id="places-list" ng-if="ctrl.showPlacesResults">
            <div ng-repeat="place in ctrl.places" class="row animation">
                <div class="place-delete">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAmdJREFUOBFlU81u2kAQHnttjG1+DFEStfQAKaEVh2oPOeTKMTeqvEAj5ZBj+iT0Ddw3QIqiXIJk5efQiIsb9RyhVoqaVGAomNou2N3ZslZ/Vlp2mZnv+2ZmxwCr9fHwsNPf3+92LcsStn/PbrVqfWi3u9d7ex3hk/Hy6ejIXt/ZOZYkqW1WKg4GigBxou0JpY5Vr7fB8457zaaNPgmVEXx/fg7RaATJcgmzhwd3Hoat14PBGINS8NYWHV5d8Ri0+77/Tok8r3rf66VgYARmuUxhOMRMWhjIlWs1Ory4APRLaGSLiVUlrBnTNtfWKDqTOOZBwM7ZZOJazSaUEHx5+dueJJzg+3zuzheLFifDFA1Nc7gyI0GwhERsl3d3YXxzkypLjGDs++48jnmJIhtep5HJOGahQAUYg5MwhCQIAO8YPCPE9VdgLCMlwD+Yia6qTk7X6dLzYDmZAD6TLMtACIGporg/dD1tLmIU/Plz5Ws1YOXA6O4OyAqIYLzLyn/hXIDjUX290XBMy+LdFqoIVnAz8CYhtBjHf80JHyQO3t52csUi/XZ2BjJrnixJaeoIVlUVVHZWNI2WZTklkQQYlR8RzJolFP1MxiUMtMGUBQGSYFafg8B9jKKWslGv2zpT/np6ysESc7KRBl9VecOwPpIkzrMVSWaVyYtslpLp1Fai6XQwZuOJyilY09zIMNJusyxbZLFwnrPXQQLc2CM9CAb8GU/yeVsNwzeYWmSa7s9cLgWLF8JSN9mwvSyVqJ7Nwhfff9/o9w/SOTgpFDosg+qiWDwQH5EAixNJnhqGrSvK4NXt7Vu0/wJXTRcHoQJN+QAAAABJRU5ErkJggg=="
                         ng-click="ctrl.deletePlace(place.id)"/>
                </div>
                <div class="place-name">{{place.name}}</div>
                <div class="place-address">{{place.address}}</div>
                <div class="place-city">{{place.name_ru}}</div>
            </div>
        </div>
        <div id="places-loader" class="loader" ng-if="!ctrl.showPlacesResults"></div>
    </div>
</nav>
