<div class="page-wrapper" ng-controller="UsersController as ctrl">
    <div id="users-form" class="form-side">
        <div class="form-block">
            <div class="form-input">
                <input type="text" ng-model="ctrl.model.username" placeholder="Имя пользователя"/>
            </div>
            <div class="form-input">
                <input type="text" ng-model="ctrl.model.password" placeholder="Пароль"/>
            </div>
            <div class="form-input">
                <input type="text" ng-model="ctrl.model.email" placeholder="E-mail"/>
            </div>
            <div class="form-input">
                <a class="button tiny" ng-click="ctrl.add()">Добавить</a>
            </div>
            <div error-block></div>
        </div>
    </div>
    <div class="list-side">
        <div id="collection" ng-if="!ctrl.listLoader">
            <div ng-repeat="item in ctrl.collection" class="collection-row row-animation">
                <div delete-item service="UsersService"></div>
                <div class="item-name">{{item.username}}</div>
                <div class="user-date">{{item.lastDateActivity}}</div>
                <div class="user-status" ng-class="item.status === 'deleted' ? 'red' : ''">{{item.status}}</div>
            </div>
        </div>
        <div ng-if="ctrl.emptyList">
            Здесь пока нет ни одной записи
        </div>
        <div id="places-loader" class="loader" ng-if="ctrl.listLoader"></div>
    </div>
</div>
