<div id="places">
    <div id="places_page_wrapper" class="page-wrapper" ng-controller="PlacesController as ctrl">

        <!-- FORM -->
        <div class="form-side">
            <div id="places-form">
                <!-- name -->
                <div class="form-input">
                    <input type="text" placeholder="Название"
                           ng-model="ctrl.model.name"
                           watch-error/>
                </div>

                <!-- interests -->
                <div id="interests-list" class="form-input">
                    <div>
                        <div ng-repeat="interest in ctrl.interests" class="interest-row-wrapper">
                            <div class="interest-row-content">
                                <input type="checkbox" ng-model="interest.selected"/>
                                <span ng-bind="interest.name"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- city -->
                <div id="city-block" class="form-input">
                    <div id="city-editor">
                        <input type="text" placeholder="Город"
                               city-load
                               ng-model="ctrl.model.city"
                               ng-disabled="ctrl.cityEditorDisabled"
                               watch-error/>
                    </div>
                    <div id="city-edit-switcher"
                         ng-class="ctrl.cityEditorDisabled ? 'active' : 'inactive'"
                         ng-click="ctrl.cityEditorDisabled = false">
                        <img ng-src="{{ctrl.images.edit}}" alt="Edit"/>
                    </div>
                </div>

                <!-- address -->
                <div class="form-input">
                    <input type="text" placeholder="Адрес"
                           ng-model="ctrl.model.address"
                           watch-error/>
                </div>

                <!-- phone -->
                <div class="form-input">
                    <input type="text" placeholder="Телефон"
                           ng-model="ctrl.model.phone"
                           watch-error/>
                </div>

                <div class="form-input">
                    <a class="button tiny" ng-click="ctrl.search()">Найти</a>
                </div>
            </div>

            <!-- search results -->
            <div id="search-results" ng-if="ctrl.showSearchResults">
                <div id="address-suggestion-block">
                    <div id="suggested-address">
                        <span ng-bind="ctrl.model.suggestedAddress"></span>
                    </div>
                    <hr/>
                    <div id="lat-long">
                        <div>
                            <span>широта:&nbsp;</span>
                            <span ng-bind="ctrl.model.latitude"></span>
                        </div>
                        <div>
                            <span>долгота:&nbsp;</span>
                            <span ng-bind="ctrl.model.longitude"></span>
                        </div>
                    </div>
                </div>
                <div class="form-input">
                    <a class="button tiny green" ng-click="ctrl.add()">Добавить</a>
                </div>
                <div id="place-add-loader" class="loader" ng-if="ctrl.addPlaceLoader"></div>
            </div>
            <div error-block></div>
        </div>

        <!-- LIST -->
        <div id="places-list" class="list-side" auto-height>
            <div id="collection" ng-if="!ctrl.listLoader">
                <div ng-repeat="item in ctrl.collection" class="collection-row row-animation"
                     ng-click="ctrl.transition(item, $event)">
                    <div delete-item service="PlacesService"></div>
                    <div class="place-first-cell">
                        <span class="place-name">{{item.name}}</span>
                        <span class="place-phone">{{item.phone}}</span>
                    </div>
                    <div class="place-address">{{item.address}}</div>
                    <div>we</div>
                    <div class="place-city">{{item.city}}</div>
                </div>
            </div>
            <div ng-if="ctrl.emptyList">
                Здесь пока нет ни одной записи
            </div>
            <div id="places-loader" class="loader" ng-if="ctrl.listLoader"></div>
        </div>

    </div>
    <!-- place -->
    <div ui-view></div>
</div>