<div class="page-wrapper row" ng-controller="InterestsController as ctrl">
    <div id="interests-form" class="form-side">
        <div>
            <div class="form-input">
                <input type="text" ng-model="ctrl.model.name" placeholder="Название"/>
            </div>
            <div class="form-input">
                <a class="button tiny" ng-click="ctrl.add()">Добавить</a>
            </div>
        </div>
        <div class="form-block error-block" ng-if="ctrl.errorMessage.length > 0">
            <span ng-bind="ctrl.errorMessage"></span>
        </div>
    </div>
    <div class="list-side">
        <div id="collection" ng-if="!ctrl.listLoader">
            <div ng-repeat="item in ctrl.collection" class="item-row animation">
                <div delete-item service="InterestsService"></div>
                <div class="item-name">{{item.name}}</div>
            </div>
        </div>
        <div ng-if="ctrl.emptyList">
            Здесь пока нет ни одной записи
        </div>
        <div id="places-loader" class="loader" ng-if="ctrl.listLoader"></div>
    </div>
</div>