<div>
    <div class="page-wrapper row" ng-controller="InterestsController as ctrl">
        <div class="form-side" id="interests-form">
            <div class="form-block">
                <div class="form-input">
                    <input ng-model="ctrl.model.name" placeholder="Название" type="text"/>
                </div>
                <div class="form-input">
                    <a class="button tiny" ng-click="ctrl.add()">Добавить</a>
                </div>
                <div error-block></div>
            </div>
        </div>
        <div class="list-side">
            <div editors-list id="collection" ng-if="!ctrl.listLoader">
                <div class="item-row row-animation" ng-repeat="item in ctrl.collection">
                    <div delete-item service="InterestsService"></div>
                    <div editor model="item" class="item-name"></div>
                </div>
            </div>
            <div ng-if="ctrl.emptyList">
                Здесь пока нет ни одной записи
            </div>
            <div class="loader" id="places-loader" ng-if="ctrl.listLoader"/>
        </div>
    </div>
</div>
