@import "places";
@import "login";
@import "users";
@import "animations";
@import "interests";


@media screen and (max-width: 900px) {
  .page-wrapper {
    width: 900px;
  }
}

#landing-place {
  @extend .flex-column;
  align-items: center;
}

.error-msg {
  color: red;
  margin: 5px;
  font-size: 13px;
  border: none !important;
}

.error-block {
  @extend .flex-row-center;
  color: red;
  font-size: 13px;
  border: solid 1px red;
  border-radius: 2px;
  height: 45px;
  font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
  margin: 0;
  span {
    align-self: center;
  }
}

hr {
  border: solid #b0ddb7;
  border-width: 1px 0 0;
  margin: 1px 0;
}

.flex-row-center {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-flow: row;
}

.flex-column {
  display: flex;
  flex-flow: column;
}

.page-wrapper {
  @extend .flex-row-center;
  margin-top: 30px !important;
  padding: 0 10px;
  max-width: 1000px !important;
}

.greeting {
  font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}

.list-side {
  @extend .flex-column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  height: 800px;
  width: 480px;
  font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}

#places-loader {
  background: url("../images/ajax-loader.gif") no-repeat center;
  width: inherit;
  height: inherit;
}

#collection {
  overflow: scroll;
}

#collection .collection-row {
  @extend .flex-row-center;
  height: 40px;
  line-height: 20px;
  font-size: 13px;
  border-bottom: solid 1px #d7d7d7;
  padding: 0 5px;
  position: relative;
  cursor: pointer;
  div {
    @extend .flex-row-center;
    align-self: center;
  }
}

#collection .collection-row:last-child {
  border-bottom: solid 1px rgb(232, 230, 230);
  border-radius: 2px;
}

#collection .collection-row:first-child {
  border-top: solid 1px rgb(232, 230, 230);
  border-radius: 2px;
}

.collection-row .delete-item {
  position: relative;
  width: 12px;
  height: 12px;
  margin-right: 20px;
  img {
    cursor: pointer;
  }
}

#collection .collection-row .item-name {
  justify-content: flex-start;
  width: 150px;
  margin-right: 5px;
}

.form-side {
  @extend .flex-column;
  justify-content: center;
  padding: 0 5px;
  border-right: 1px solid rgb(252, 252, 252);
  width: 320px;
}

.form-block {
  width: 280px;
}

.form-input {
  @extend .flex-row-center;
  flex-flow: column;
  margin-top: 0;
  input[type='text'], input[type='password'],
  textarea {
    height: 30px !important;
    margin-bottom: 5px !important;
    border-radius: 2px !important;
  }
  a {
    border-radius: 2px !important;
  }
}

/* It's the markers used by gulp-inject to inject
   all your sass files automatically */
/*/
/ injector// endinjector*/
