.error-msg {
  color: red;
}

.error-block {
  @extend .error-msg;
  @extend .flex-row-center;
  width: 290px;
  border: solid 1px red;
  border-radius: 2px;
  height: 45px;
  font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
  font-size: 13px;

  span {
    align-self: center;
  }
}

hr {
  border: solid #b0ddb7;
  border-width: 1px 0 0;
  margin: 1px 0;
}

.flex-row-center {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-flow: column;
}

.page-wrapper {
  @extend .flex-row-center;
  margin-top: 50px;
}

#ctrl-form {
  width: 200px;
}

.greeting {
  font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}

#places-list-box {
  @extend .flex-column;
  justify-content: center;
  margin: 0 10px;
  height: 400px;
  width: 480px;
}

#places-list {
  overflow: auto;
}

#places-loader {
  background: url("../assets/images/ajax-loader.gif") no-repeat center;
  width: inherit;
  height: inherit;
}

#places-list .row {
  @extend .flex-row-center;
  height: 40px;
  line-height: 20px;
  font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
  font-size: 13px;
  border-bottom: solid 1px #d7d7d7;
  background-color: rgb(232, 241, 242);
  padding: 0 5px;
  position: relative;

  div {
    @extend .flex-row-center;
    align-self: center;
  }
}

#places-list .row:last-child {
  border-bottom: solid 1px rgb(232, 230, 230);
  border-radius: 2px;
}

#places-list .row:first-child {
  border-top: solid 1px rgb(232, 230, 230);
  border-radius: 2px;
}

.animation {
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -ms-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
}

.animation.ng-enter {
  left: 480px;
}

.animation.ng-enter.animation.ng-enter-active {
  left: 0;
}

.animation.ng-leave {
  left: 0;
}

.animation.ng-leave.animation.ng-leave-active {
  left: 480px;
}

.row .place-name {
  justify-content: flex-start !important;
  width: 150px;
  margin-right: 5px;
}

.row .place-address {
  justify-content: flex-start !important;
  flex-grow: 1;
}

.row .place-city {
  @extend .flex-row-center;
  margin-left: 10px;
}

.row .place-delete {
  position: relative;
  width: 12px;
  height: 12px;
  margin-right: 20px;
  img {
    cursor: pointer;
  }
}

#places-form {
  @extend .flex-column;
  justify-content: center;
  margin: 0 30px;
  width: 300px;
  height: 400px;
}

.form-input {
  @extend .flex-row-center;
  flex-flow: column;
  margin-top: 0;

  input {
    height: 25px;
    margin-bottom: 5px;
  }

}

#city-block {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;

  span {
    margin: 9px 0 0 5px;
  }

  #city-editor {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 230px;
  }
}

#city-edit-switcher {
  text-decoration: underline;
  font-size: 12px;
  cursor: pointer;
}

#city-edit-switcher.active {
  color: green;
}

#city-edit-switcher.inactive {
  color: lightgray;
}

.form-block {
  margin: 0 5px;
}

.db-dropdown {
  width: 350px;
  height: 200px;
  overflow-y: scroll;
  background: #ececec;
  border: solid 1px #cccccc;
  position: absolute;
  margin-top: -4px;
  z-index: 10;
  font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}

.db-dropdown-option {
  display: flex;
  flex-flow: row;
  width: inherit;
  height: 45px;
  border-bottom: solid 1px #cccccc;
  padding: 0 5px;
  cursor: pointer;

  .db-dropdown-option-name {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 200px;
    font-size: 13px;
    height: inherit;
  }
  .db-dropdown-option-district {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 140px;
    font-size: 10px;
    line-height: 10px;
  }
}

.correct-city {
  border-color: #00e100 !important;
}

#address-suggestion-block {
  @extend .flex-column;
  color: #3eae3e;
  padding: 10px;
  border: solid 1px #51e451;
  border-bottom: none;
  border-radius: 2px;
  height: 85px;
  width: 290px;
  font-size: 13px;
}

#suggested-address {
  @extend .flex-row-center;
  width: 290px;
  margin: 0 0 10px 0;
  padding-left: 20px;
  justify-content: flex-start;
}

#lat-long div {
  @extend .flex-row-center;
  width: 290px;
  padding-left: 20px;
  justify-content: flex-start;
}

#lat-long div span:first-child {
  flex-grow: 1;
  width: 40px;
}

#lat-long div span:last-child {
  flex-grow: 5;
}

.button.green {
  background-color: #0f8f0b;
}

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
