<div class="page-wrapper" ng-controller="LoginController as ctrl">
    <div id="login-form">
        <form>
            <div error-block border="no"></div>

            <div class="form-input">
                <input type="text" name="username" placeholder="Логин"
                       ng-model="ctrl.model.username"
                       auto-focus
                       watch-error>
            </div>
            <div class="form-input">
                <input type="password" name="password" placeholder="Пароль"
                       ng-model="ctrl.model.password"
                       on-enter="ctrl.login()"
                       watch-error>
            </div>
            <div class="form-input">
                <a class="button tiny" ng-click="ctrl.login()">Войти</a>
            </div>
        </form>
    </div>
</div>